<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
		<span class="sr-only">Toggle navigation</span>
</button>
<a class="navbar-brand text-hide" href="willcarpenter.site" style="color: white">LOGO
		</a>
		</div>
		<!--/.nav-collapse -->
</div>
<!--/.container-fluid -->
</nav>